/* src/components/SpinningLogo.css */

.logo-container {
  perspective: 1000px;
}

.logo-flipper {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: coin-flip 6s linear infinite;
}

.logo-face {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  backface-visibility: hidden;
}

.logo-back {
  transform: rotateY(180deg);
}

@keyframes coin-flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}